.section1 .accordion-link {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    background-color: rgb(247, 247, 241);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.01rem 0;
  }
 
  .section1 .panel img{
  margin:0px 20px;
  }
  
  .section1 .active,.section1 .accordion:hover {
    background-color: #ccc;
  }
  .accordion-item .accordion-link .ion-md-add{
     display: none;
  }
  .accordion-item .accordion-link .ion-md-add{
     display: block; 
  }
  
   @media (max-width:600px){
   .section1 .banner{
   width:90%;
   }
   }
   .container-fluid{
     background-image: url("../../assets/red.jpg");
     background-size: contain;
   }
   .w3-center1{
     text-align: center;
     font-size: 28px;
   }
  
  /*FOOTER*/
  .footer{
  width:100%;
  background-color: rgb(0, 0, 0);
  background-size:100% 100%;
  padding:20px 0px;
  box-shadow: 0 4px 8px 0 white;
  margin-top: 25px;
  font-family: Arial;
  }
  
  .footer section{
  width:24%;
  padding:2%;
  display:inline-block;
  
  
  }
  
  
  
  .footer img{
  width:200px;
  height:80px;
  font-size:2em;
  }
  
  .footer p{
  font-size:12px;
  color:#fff;
  }
  
  .footer section .title{
  color:#fff;
  font-size:1em;
  }
  
  .footer section .title:before{
  content:"";
  }
  
  .footer section a{
  text-decoration:none;
  color:#fff;
  font-size:14px;
  transition:0.5s;
  }
  
  .footer section a:hover{
  color:#a49e59;
  }
  
  .footer section input{
  width:70%;
  border:0;
  outline:none;
  height:30px;
  padding:5px;
  }
  
  .footer section button{
  width:50px;
  height:40px;
  padding:10px 5px;
  outline:none;
  border:0;
  background:#CCCCCC;
  color:#000102;
  }
  
  .footer section .fa-map-marker,.footer section .fa-phone,.footer section .fa-envelope{
  font-size:23px;
  margin:10px;
  transition:0.5s;
  }
  
  .footer section i:hover{
  color:#fff;
  }
  
  .sub-footer{
  background:#1e1e1e;
  text-align:center;
  font-size:14px;
  color:gray;
  padding:10px 0px;
  }
  @media (max-width:600px){
  .footer section{
  display:block;
  width:90%;
  }
  .footer section:nth-child(2),.footer section:nth-child(3){
  width:40%;
  display:inline-block;
  margin:2%;
  }
  }
  .footer titles{
    box-shadow: 0 12px 15px 0 rgba(199, 238, 25, 0.24);
  }
  .hero-slider{
    width:100%;
 }
 h3{
  color:red;
  }
  .mash{
   background-color: black;
   height:10px;
   width:100%;
  }