<app-nav-bar></app-nav-bar>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mt-5">

 
    <!--Section: Content-->
    <section class="dark-grey-text mb-5">
      
      <style>
        .map-container-section {
          overflow:hidden;
          padding-bottom:56.25%;
          position:relative;
          height:0;
        }
        .map-container-section iframe {
          left:0;
          top:0;
          height:100%;
          width:100%;
          position:absolute;
        }
      </style>

      <!-- Section heading -->
      <h3 class="font-weight-bold text-center mb-4">Contact Us</h3>
      <!-- Section description -->
      <!-- <p class="text-center w-responsive mx-auto pb-5">
        Get in touch with us</p> -->

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">

          <!-- Form with header -->
          <div class="card">
            <div class="card-body">
              <!-- Header -->
              <div class="form-header blue accent-1">
                <p class="mt-2"><i class="fa fa-envelope"></i> Write to us:</p>
              </div>
              <!-- <p class="dark-grey-text">We'll write rarely, but only the best content.</p>
              <p class="dark-grey-text">Get in touch with us through our socials</p> -->

              <!-- Body -->
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="form-name" class="form-control">
                <label for="form-name">Your name</label>
              </div>
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="form-email" class="form-control">
                <label for="form-email">Your email</label>
              </div>
              
              <div class="md-form">
                <i class="fa fa-pencil prefix grey-text"></i>
                <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
                <label for="form-text"> Place Your comment here....</label>
              </div>
              <div class="text-center">
                <button class="btn btn-light-blue">Submit</button>
              </div>
            </div>
          </div>
          <!-- Form with header -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

          <!--Google map-->
          <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
            <iframe src="https://maps.google.com/maps?q=tut Soshanguvet=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
          <!-- Buttons-->
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-map-marker"></i>
              </a>
              <p>10111 Aubrey Matlala Street </p>
              <p class="mb-md-0">Soshanguve, Gauteng, South Africa.</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-phone"></i>
              </a>
              <p>086 001 0111</p>
              <p class="mb-md-0">Mon - Fri, 8:00-17:00</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fa fa-envelope"></i>
              </a>
              <p>campusNavigator@gmail.com</p>
              <p class="mb-0">teams@gmail.com</p>
            </div>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

<section>
    <h3 class="classh3">Get in Touch with our socials</h3>
                
    <i class="fa fa-envelope " aria-hidden="true"></i>
    <p>campusguide.gmail.com</p>

<i class="fa fa-facebook-square " aria-hidden="true"></i>
<p>campusguidepage.com</p>

<i class="fa fa-instagram " aria-hidden="true"></i>
<p>instagram.com/campusguide_za</p>

<i class="fa fa-whatsapp " aria-hidden="true"></i>
<p>Whatsapp.com/campusguidegrouplink</p>

<i class="fa fa-twitter-square " aria-hidden="true"></i>
<p>twitter.com/twitterhandle</p>
</section>




  </div>
  <app-footer></app-footer>

