
     
<div class="nav_bar">
    <div class="logo">
    
        <img src="../../assets/images/logo.png" width="100px" height="60px">
    <br>
        <a class="logo01" style="font-size:25 ;">CampusNavigator</a>
</div>
    
    <a routerLink="#home" class="btn1">Home</a>
    <a routerLink="#gallery" class="btn1">Gallery</a>
    <a routerLink="#navigator" class="btn1">Navigator</a>
    <a routerLink="/our_service" class="btn1">Our services</a>
    <a routerLink="#About Us" class="btn1">About Us</a>
    <a routerLink="#Contact" class="btn1">Contact</a>
    



</div>
