<!DOCTYPE html>
<html>

<body>

   <!-- Define the slideshow container -->
   <div id="slideshow">
    <div class="slide-wrapper">
         
    <!-- Define each of the slides
     and write the content -->
      
        <div class="slide">
            <h1 class="slide-number">
                <div>
                    <h2>CAMPUS NAVIGATOR FOR <br> TSHWANE UNIVERSITY OF TECHNOLOGY</h2>
                    <h4>Navigating the Crossroads of Campus with energy</h4>
                    <p>Easy Way To Find Your Destination</p>
                    
                  <!--  <a class="blue_bt" href="#">Navigation</a> -->
                 </div>
            </h1>
        </div>
      
        <div class="slide">
            <h1 class="slide-number">
                <h2>CAMPUS NAVIGATOR FOR <br> TSHWANE UNIVERSITY OF TECHNOLOGY</h2>
                <h4>Navigating the Crossroads of Campus with energy</h4>
                <p>Easy Way To Find Your Destination</p>
               <!-- <a class="blue_bt" href="#">Navigation</a> -->
            </h1>
        </div>
        <div class="slide">
            <h1 class="slide-number">
                <h2>CAMPUS NAVIGATOR FOR <br> TSHWANE UNIVERSITY OF TECHNOLOGY</h2>
                <h4>Navigating the Crossroads of Campus with energy</h4>
                <p>Easy Way To Find Your Destination</p>
               <!-- <a class="blue_bt" href="#">Navigation</a> -->
            </h1>
        </div>
        <div class="slide">
            <h1 class="slide-number">
                <h2>CAMPUS NAVIGATOR FOR <br> TSHWANE UNIVERSITY OF TECHNOLOGY</h2>
                <h4>Navigating the Crossroads of Campus with energy</h4>
                <p>Easy Way To Find Your Destination</p>
                <!-- <a class="blue_bt" href="#">Navigation</a>   -->
            </h1>
        </div>
    </div>
</div>



   
  
   

</body>
</html>

