<app-nav-bar></app-nav-bar>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="our_services">
  
  <div class="title">
    <br><p><b>Our Services</b></p>
  </div>
  <p class="subtitle"><b>List of Services we offer to our clients</b></p><br>
  <div class="row">

<diV class="column">
<p class="titles">Web Design</p>
<div class="tite">
  <br>
  <p>HTML & CSS</p>
  <p>JavaScript</p>
  <p>Angular</p>
  <p>Node js</p>
  <p>PHP</p>
 </div>

</diV>

<diV class="column">
<p class="titles">Business Analyst</p>
<div class="tite">
    <br>
  <p>ERD</p>
  <p>System Analysis</p>
  <p>Problem Statement</p>
  <p>System</p>
  <p>Documentation</p>
 </div>

</diV>


<div class="column">
<p class="titles" >Software Development</p>
<div class="tite">
    <br>
  <p>Develop Websites</p>
  <p>Mobile App Development </p>
  
 </div>

</div>


<div class="column">
<p class="titles">Graphic Design</p>
<div class="tite">
    <br>
 
  <p>Logo Design</p>
  <p>Posters</p>
  <p>Game Design</p>
  <p>Sound Engineer</p>
  <p>3D Modeling </p>
  <br>
 </div>

</div>

</div>

</div>
<app-footer></app-footer>
