
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
height: 100%;
  line-height: 1.8;
  
}


.hero-image {
	background-image: url("../../assets/7.jpg");
	height: 1000px;
	width:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	color:white;
	display: flex;
 
  align-items: center;
  font-style: bold;
  }
  

// /* Full height image header */
// #header-img {

//   background-position: center;
//   background-size: cover;
//   background-image: url("../../assets/images/7.jpg");
//  height: 1000px;
//  width: 2000px;
//   font-style: bold;
// 	background-repeat: no-repeat;
//   display: flex;
//   justify-content: center;
//   align-items: center;
 

// }
.w3-bar .w3-button {
padding: 16px;
background-color: #000102;
color: #fff;
  
}

 /*fao*/
 .accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 1500px;
  border: box-sizing;
  border: 10px solid black;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  overflow: hidden;
}



.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.w3-margin-right{
	color: rgb(203, 7, 7);
}
.w3-wide{
	color: rgb(203, 7, 7);
}

#team {

	padding: 30px 0;
	
}
.sec-heading h6 {
	font-family: 'Arial';
	font-size: 32px;
}
.single-box {
	
	overflow: hidden;
	background-color: white;
  
}
.info-area {
	padding: 0 20px 45px;
}
.img-area {
	overflow: hidden;
	padding: 15px 0 15px;
}
.img-area img {
  height: 200px;
  max-width: 200px;
	margin: 0 auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
    border-radius: 35%;
  
}
.single-box:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.info-area i {
	display: inline-block;
	color: #ffb400;
	margin: 0 4px;
}
.info-area h4 {
	font-weight: 600
}
.info-area h5 {
	color: #3b04db;
	margin: 10px 0 0;
	font-weight: 600
}
.info-area a {
	display: inline-block;
	margin: 25px 0 0;
	background-color: darkorange;
	color: #fff;
	padding: 10px 35px;
	border-radius: 4px;
}
.team-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;
	width: 100%;
}
.team-slider button.owl-dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
	background-color: #262626;
}
.team-slider .owl-dot.active {
	background-color: rgb(250, 246, 244);
}
.move-animation {
	position: relative;
	-webkit-animation: move-animation 2s ease-in-out infinite;
	animation: move-animation 2s ease-in-out infinite;
}
@keyframes move-animation {
	0% {
		top: 3px;
	}
	50% {
		top: -3px;
	}
	100% {
		top: 3px;
	}
}
.info-area h4{
  font-size: 18px;
}

#team
{
margin-top: 2%;
}
#mt-2
{
	color: rgb(152, 7, 7);
}
.w3-bar-item
{
	background-color: #ee1111;
	width: 100%;
	display: flex;
	align-items: left;
}

.hero-image h3{
		

	font-size: 25px;
	margin-left: 30px;
	
  }
  .hero-image h2{


	font-size: 40px;
	margin-left: 30px;
	

  }
  .mash {
	background-color: black;
	height: 10px;
	width: 1510px;
	
}


@media screen and (max-width: 600px) {


	.hero-image {
		background-image: url("../../assets/7.jpg");
		height: 500px;
		width:500px;
		
	  }
	  .hero-image h3{
		

		font-size: 10px;

	  }
	  .hero-image h2{

	
		font-size: 15px;

	  }

	  .accordion {
		background-color: white;
		color: black;
		padding: 5px;
		width: 300px;
		border: box-sizing;
		border: 10px solid black;
		text-align: center;
		outline: none;
		font-size: 10px;
		transition: 0.4s;
		overflow: hidden;
	  }
	  
	  
	  
	  .panel {
		padding: 0 15px;
		display: none;
		background-color: white;
		overflow: hidden;
	  }

		.mash h2{

			font-size: 20px;


		}
		h1{

			font-size: 25px;
			text-align: center;
			
		}
		h5{


			font-size: 12px;

		}
		.ali{

			text-align: center;

		}
		
		.mash {
			
			background-color: black;
			height: 10px;
			width: 400px;
			margin-left: 8px;
			
		}

		r-team[_ngcontent-rwi-c21] {
			padding: 0 0 40px;
			background: #f9f9f9;
			text-align: center;
			overflow: hidden;
			position: relative;
			border-bottom: 5px solid rgb(157, 7, 7);
		}

		
	  
	  
  
	
  }