<app-nav-bar></app-nav-bar>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page" >
<link rel="stylesheet" href="https://www.bootdey.com/snippets/view/bs4-crud-users" >
<body>
    <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
            <iframe src="https://maps.google.com/maps?q=tut Soshanguvet=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
</body>
<app-footer></app-footer>