<div class="container">
    <div class="row blog">
        <h1 class="center mx-auto text-center py-4">Our Team Members</h1>
       
	   <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="invisible carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/kamo.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Kamo M</h3>
                                        <span class="post">Business Analysts || Scrum master</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/thando.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Thando M</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/vanessa.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Vanessa M</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/carol.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Carol</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/masindi.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Masindi</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/matima.jpeg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Matima </h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/richard.jpeg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Richard S</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="../../assets/images/elvis.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Elvis T</h3>
                                        <span class="post">Business Analysts</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="fa fa-envelope"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                          
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="carousel-item">
                        <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="../../assets/images/mapula.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Mapula</h3>
                                <span class="post">Business Analysts</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fa fa-envelope"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="../../assets/images/Zinhle.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Zinhle</h3>
                                <span class="post">Business Analysts</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fa fa-envelope"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!--.item-->
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>
