<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body>

<!-- End Header -->

  <main id="main">

   <app-slider-homepage></app-slider-homepage>

   
  <div class="carol">
          <h1>OUR CAMPUSES</h1>
		  <p>Click on campus to proceed to the navigator</p>
        
          <div class="frame">
  
  <button class="custom-btn btn-2">Soshanguve South Campus</button>
  
  <a href="https://www.tut.ac.za/other/campuses/soshanguve-north">
  <button class="custom-btn btn-3"><span>Soshanguve North Campus</span></button></a>
  <a href="https://www.tut.ac.za/other/campuses/polokwane/map">
  <button class="custom-btn btn-1">Polokwane Campus</button></a><br>
  <a href="https://www.tut.ac.za/other/campuses/emalahleni/map">
  <button class="custom-btn btn-4"><span>Emalahleni Campus</span></button></a>
  <a href="https://www.tut.ac.za/other/campuses/rankuwa">
  <button class="custom-btn btn-5"><span>Ga-Rankuwa Campus</span></button></a>
  <a href="https://www.tut.ac.za/other/campuses/mbombela/map">
  <button class="custom-btn btn-6"><span>Mbombela Campus</span></button></a><br>
  <a href="https://www.tut.ac.za/other/campuses/arts">
  <button class="custom-btn btn-7"><span>Arts<br> Campus</span></button></a>
  <a href="https://www.tut.ac.za/other/campuses/arcadia">
  <button class="custom-btn btn-8"><span>Arcadia Campus</span></button></a>
  <a href="https://www.tut.ac.za/other/campuses/pretoria">
  <button class="custom-btn btn-9">Pretoria Campus</button></a>
  
   </div>
</div>


<div id="about" class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-5">
            <h4>TUT Campus Navigator</h4>
            <h3 style="text-transform: none !important;">Navigate through TUT and <br>never get lost...</h3>
            <p>Where to go? Find every corner of the Campus fast and quicker on CampusNav. All you need is the plan, the road map, and the courage to press on to your destination.</p>
          
            <a class="blue_bt" href="#">Soshanguve South Campus</a>
            <br>
            
         </div>
        
         <div class="col-md-6 offset-md-1">
            <div class="full text_align_center">
               <img class="img-responsive" src="../../assets/enviroment.png" alt="#" />
            </div>
         </div>
      </div>
   </div>
</div>

		<section  >
         <div id="wcs" class="hiw_section layout_padding">
            <div class="container">
               <div class="last">
               <div class="row">
                  <div class="col-md-12 text_align_center">

                     <h3 >CAMPUS NAVIGATOR OF</h3>
                     <p >TSHWANE UNIVERSITY OF TECHNOLOGY</p>
                  </div>
               </div>
                  
               </div>
               <div class="row" >
                  <div class="col-md-12">
                     <div class="full testimonial_blog">
                        <div class="align">

                        <p class=>navigator</p>
                        <p>
                        "A good plan is like a road map:
                           it shows the final destination
                           and usually the best
                           way to get there"  <br>
                           H Stanly Judd.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
          
        </section>

        
   
  </main>



  

</body>

</html>
<app-footer></app-footer>